.navigation {
    top: 0;
    z-index: 1030;
    right: 0;
    left: 0;
    position: fixed;
    min-height: 50px;
    background: black;
    margin-bottom: 20px;
}

body {
    padding-top: 50px;
    background: url("FEMR BACKGROUND.png") repeat;
    /* font-family: dejavu; */
    font-family: sans-serif;
}

p {
  display: block;
  font-size: 1.35em;
  line-height: 1.5em;
  margin-bottom: 22px;
}
